<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divinedube.metermeasure"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:authorities="com.divinedube.metermeasure.MeterRecordingsProvider"
            android:name="com.divinedube.metermeasure.MeterRecordingsProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.divinedube.metermeasure.MeterReadingStatsProvider"
            android:name="com.divinedube.metermeasure.MeterReadingStatsProvider"
            android:exported="false"
            />
        <provider
            android:authorities="com.divinedube.metermeasure.ProcessedDataProvider"
            android:name="com.divinedube.metermeasure.ProcessedDataProvider"
            android:exported="false"/>

        <activity
            android:name="com.divinedube.metermeasure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewMeterReadingsActivity"
            android:label="@string/new_meter_readings_label"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
            </activity>
        <activity android:name=".SettingsActivity" android:label="@string/action_settings" android:parentActivityName=".MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
        </activity>
        <activity android:name=".MeterReadingsDiff" />
        <service android:name="com.divinedube.http.MeterMeasureClient" />
    </application>

</manifest>
