<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.divinedube.metermeasure"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="20" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:authorities="com.divinedube.models.MeterRecordingsProvider"
            android:name="com.divinedube.models.MeterRecordingsProvider"
            android:exported="false"/>
        <provider
            android:authorities="com.divinedube.models.MeterReadingStatsProvider"
            android:name="com.divinedube.models.MeterReadingStatsProvider"
            android:exported="false"
            />
        <provider
            android:authorities="com.divinedube.models.ProcessedDataProvider"
            android:name="com.divinedube.models.ProcessedDataProvider"
            android:exported="false"/>

        <activity
            android:name="com.divinedube.metermeasure.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewMeterReadingsActivity"
            android:label="@string/new_meter_readings_label"
           >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
            </activity>
        <activity android:name=".SettingsActivity" android:label="@string/action_settings">
            <meta-data android:name="android.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
        </activity>
        <activity android:name=".MeterStatics" android:label="@string/show_your_meter_stats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
        </activity>

        <activity
            android:name=".SignIn"
            android:label="Sign In"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
            </activity>

        <activity android:name="com.divinedube.helpers.MainPagerActivity"
            android:label="Pager"/>

        <activity
            android:name=".SignUpActivity"
            android:label="@string/sign_up"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.divinedube.metermeasure.MainActivity"/>
            </activity>
        <activity
            android:name="com.divinedube.helpers.Main"
            android:label="main" />

        <service android:name="com.divinedube.http.MeterMeasureClient" />
        <service android:name="com.divinedube.http.SignUpClient"/>
        <service android:name="com.divinedube.http.SignInClient" />
    </application>

</manifest>
